flow.json
[{"id":"211c7735.5830a","type":"tab","label":"Flow 1","disabled":false},{"id":"d88144d2.de1c88","type":"mqtt-broker","z":"","broker":"hls-local-server.local","port":"1883","clientid":"mosfet8/unknown","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"6aae1bcd.6ca71c","type":"inject","z":"211c7735.5830a","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":355.5,"y":411,"wires":[["f937988a.0e3498","a48fe9b6.09c58"]]},{"id":"f937988a.0e3498","type":"rpi-gpio out","z":"211c7735.5830a","name":"S0","pin":"16","set":true,"level":"0","freq":"","out":"out","x":713.5,"y":346,"wires":[]},{"id":"35efda12.349fe6","type":"inject","z":"211c7735.5830a","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":353.5,"y":475,"wires":[["f937988a.0e3498","a48fe9b6.09c58"]]},{"id":"f62f24ee.c965","type":"mqtt in","z":"211c7735.5830a","name":"","topic":"/organizations/heatworks/devices/mosfet8/unknown/1Control","qos":"2","broker":"d88144d2.de1c88","x":225,"y":338,"wires":[["be9351e6.2328a","b3403813.f4d3b"]]},{"id":"8549e0be.89683","type":"debug","z":"211c7735.5830a","name":"","active":true,"console":"false","complete":"true","x":946.5,"y":360,"wires":[]},{"id":"a48fe9b6.09c58","type":"function","z":"211c7735.5830a","name":"Create Response","func":"var now = new Date()\nmsg.previousTopic = msg.topic;\nmsg.topic = \"/organizations/heatworks/devices/mosfet8/unknown/1Value\"\nmsg.payload = `${now.getTime() / 1000},${msg.payload}`\nreturn msg;","outputs":1,"noerr":0,"x":750.5,"y":409,"wires":[["8549e0be.89683","e0435ed1.c1b2"]]},{"id":"be9351e6.2328a","type":"function","z":"211c7735.5830a","name":"Parse Value","func":"var parts = msg.payload.split(\",\");\nmsg.payload = parseInt(parts[1])\nreturn msg;","outputs":1,"noerr":0,"x":526.5,"y":374,"wires":[["a48fe9b6.09c58","f937988a.0e3498"]]},{"id":"e0435ed1.c1b2","type":"mqtt out","z":"211c7735.5830a","name":"","topic":"/organizations/heatworks/devices/mosfet8/unknown/1Value","qos":"2","retain":"true","broker":"d88144d2.de1c88","x":1107.5,"y":408,"wires":[]},{"id":"b3403813.f4d3b","type":"debug","z":"211c7735.5830a","name":"","active":true,"console":"false","complete":"false","x":522.5,"y":302,"wires":[]},{"id":"38121aef.b82e76","type":"inject","z":"211c7735.5830a","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":355.5,"y":654,"wires":[["5267c8.6a33e038","870f4a9.960a7b8"]]},{"id":"5267c8.6a33e038","type":"rpi-gpio out","z":"211c7735.5830a","name":"S1","pin":"18","set":true,"level":"0","freq":"","out":"out","x":713.5,"y":589,"wires":[]},{"id":"d606082d.ba4268","type":"inject","z":"211c7735.5830a","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":353.5,"y":718,"wires":[["5267c8.6a33e038","870f4a9.960a7b8"]]},{"id":"5ca54a9f.d9706c","type":"mqtt in","z":"211c7735.5830a","name":"","topic":"/organizations/heatworks/devices/mosfet8/unknown/2Control","qos":"2","broker":"d88144d2.de1c88","x":225,"y":581,"wires":[["cb00404e.5c19a8","ccf13e0b.a2a3a8"]]},{"id":"548c37d2.27b42","type":"debug","z":"211c7735.5830a","name":"","active":true,"console":"false","complete":"true","x":946.5,"y":603,"wires":[]},{"id":"870f4a9.960a7b8","type":"function","z":"211c7735.5830a","name":"Create Response","func":"var now = new Date()\nmsg.previousTopic = msg.topic;\nmsg.topic = \"/organizations/heatworks/devices/mosfet8/unknown/2Value\"\nmsg.payload = `${now.getTime() / 1000},${msg.payload}`\nreturn msg;","outputs":1,"noerr":0,"x":750.5,"y":652,"wires":[["548c37d2.27b42","180d4646.5832ba"]]},{"id":"cb00404e.5c19a8","type":"function","z":"211c7735.5830a","name":"Parse Value","func":"var parts = msg.payload.split(\",\");\nmsg.payload = parseInt(parts[1])\nreturn msg;","outputs":1,"noerr":0,"x":526.5,"y":617,"wires":[["870f4a9.960a7b8","5267c8.6a33e038"]]},{"id":"180d4646.5832ba","type":"mqtt out","z":"211c7735.5830a","name":"","topic":"/organizations/heatworks/devices/mosfet8/unknown/2Value","qos":"2","retain":"true","broker":"d88144d2.de1c88","x":1107.5,"y":651,"wires":[]},{"id":"ccf13e0b.a2a3a8","type":"debug","z":"211c7735.5830a","name":"","active":true,"console":"false","complete":"false","x":522.5,"y":545,"wires":[]},{"id":"55e46372.f27d7c","type":"inject","z":"211c7735.5830a","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":355.5,"y":878,"wires":[["b107bc7d.89719","4f68f61a.2260c"]]},{"id":"b107bc7d.89719","type":"rpi-gpio out","z":"211c7735.5830a","name":"S2","pin":"37","set":true,"level":"0","freq":"","out":"out","x":713.5,"y":813,"wires":[]},{"id":"24c23e63.6da4e2","type":"inject","z":"211c7735.5830a","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":353.5,"y":942,"wires":[["b107bc7d.89719","4f68f61a.2260c"]]},{"id":"b290e046.2155f","type":"mqtt in","z":"211c7735.5830a","name":"","topic":"/organizations/heatworks/devices/mosfet8/unknown/3Control","qos":"2","broker":"d88144d2.de1c88","x":225,"y":805,"wires":[["8cc1a1ba.165b6","49c2488a.3c8d78"]]},{"id":"c9fa7a34.9503","type":"debug","z":"211c7735.5830a","name":"","active":true,"console":"false","complete":"true","x":946.5,"y":827,"wires":[]},{"id":"4f68f61a.2260c","type":"function","z":"211c7735.5830a","name":"Create Response","func":"var now = new Date()\nmsg.previousTopic = msg.topic;\nmsg.topic = \"/organizations/heatworks/devices/mosfet8/unknown/3Value\"\nmsg.payload = `${now.getTime() / 1000},${msg.payload}`\nreturn msg;","outputs":1,"noerr":0,"x":750.5,"y":876,"wires":[["c9fa7a34.9503","37fb9526.6a711a"]]},{"id":"8cc1a1ba.165b6","type":"function","z":"211c7735.5830a","name":"Parse Value","func":"var parts = msg.payload.split(\",\");\nmsg.payload = parseInt(parts[1])\nreturn msg;","outputs":1,"noerr":0,"x":526.5,"y":841,"wires":[["4f68f61a.2260c","b107bc7d.89719"]]},{"id":"37fb9526.6a711a","type":"mqtt out","z":"211c7735.5830a","name":"","topic":"/organizations/heatworks/devices/mosfet8/unknown/3Value","qos":"2","retain":"true","broker":"d88144d2.de1c88","x":1107.5,"y":875,"wires":[]},{"id":"49c2488a.3c8d78","type":"debug","z":"211c7735.5830a","name":"","active":true,"console":"false","complete":"false","x":522.5,"y":769,"wires":[]},{"id":"7f89fa43.740b94","type":"inject","z":"211c7735.5830a","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":355.5,"y":1088,"wires":[["9adbbfd5.29323","e99b54a6.b4008"]]},{"id":"9adbbfd5.29323","type":"rpi-gpio out","z":"211c7735.5830a","name":"S3","pin":"32","set":true,"level":"0","freq":"","out":"out","x":713.5,"y":1023,"wires":[]},{"id":"3a152df3.8835f2","type":"inject","z":"211c7735.5830a","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":353.5,"y":1152,"wires":[["9adbbfd5.29323","e99b54a6.b4008"]]},{"id":"39530911.3f1936","type":"mqtt in","z":"211c7735.5830a","name":"","topic":"/organizations/heatworks/devices/mosfet8/unknown/4Control","qos":"2","broker":"d88144d2.de1c88","x":225,"y":1015,"wires":[["51ae0b4.0cf93f4","2d871a45.690796"]]},{"id":"293d8b94.2262ec","type":"debug","z":"211c7735.5830a","name":"","active":true,"console":"false","complete":"true","x":946.5,"y":1037,"wires":[]},{"id":"e99b54a6.b4008","type":"function","z":"211c7735.5830a","name":"Create Response","func":"var now = new Date()\nmsg.previousTopic = msg.topic;\nmsg.topic = \"/organizations/heatworks/devices/mosfet8/unknown/4Value\"\nmsg.payload = `${now.getTime() / 1000},${msg.payload}`\nreturn msg;","outputs":1,"noerr":0,"x":750.5,"y":1086,"wires":[["293d8b94.2262ec","ea8f4ad7.239cd8"]]},{"id":"51ae0b4.0cf93f4","type":"function","z":"211c7735.5830a","name":"Parse Value","func":"var parts = msg.payload.split(\",\");\nmsg.payload = parseInt(parts[1])\nreturn msg;","outputs":1,"noerr":0,"x":526.5,"y":1051,"wires":[["e99b54a6.b4008","9adbbfd5.29323"]]},{"id":"ea8f4ad7.239cd8","type":"mqtt out","z":"211c7735.5830a","name":"","topic":"/organizations/heatworks/devices/mosfet8/unknown/4Value","qos":"2","retain":"true","broker":"d88144d2.de1c88","x":1107.5,"y":1085,"wires":[]},{"id":"2d871a45.690796","type":"debug","z":"211c7735.5830a","name":"","active":true,"console":"false","complete":"false","x":522.5,"y":979,"wires":[]},{"id":"19527208.1daf76","type":"inject","z":"211c7735.5830a","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":355.5,"y":1309,"wires":[["b00d983.504b868","d8b5e1b1.38ade"]]},{"id":"b00d983.504b868","type":"rpi-gpio out","z":"211c7735.5830a","name":"S4","pin":"36","set":true,"level":"0","freq":"","out":"out","x":713.5,"y":1244,"wires":[]},{"id":"f480faec.77e578","type":"inject","z":"211c7735.5830a","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":353.5,"y":1373,"wires":[["b00d983.504b868","d8b5e1b1.38ade"]]},{"id":"ebc5a55b.290138","type":"mqtt in","z":"211c7735.5830a","name":"","topic":"/organizations/heatworks/devices/mosfet8/unknown/5Control","qos":"2","broker":"d88144d2.de1c88","x":225,"y":1236,"wires":[["c9150398.1911","b744aca.215c7d"]]},{"id":"730e81bd.c890d8","type":"debug","z":"211c7735.5830a","name":"","active":true,"console":"false","complete":"true","x":946.5,"y":1258,"wires":[]},{"id":"d8b5e1b1.38ade","type":"function","z":"211c7735.5830a","name":"Create Response","func":"var now = new Date()\nmsg.previousTopic = msg.topic;\nmsg.topic = \"/organizations/heatworks/devices/mosfet8/unknown/5Value\"\nmsg.payload = `${now.getTime() / 1000},${msg.payload}`\nreturn msg;","outputs":1,"noerr":0,"x":750.5,"y":1307,"wires":[["730e81bd.c890d8","9826898c.87c18"]]},{"id":"c9150398.1911","type":"function","z":"211c7735.5830a","name":"Parse Value","func":"var parts = msg.payload.split(\",\");\nmsg.payload = parseInt(parts[1])\nreturn msg;","outputs":1,"noerr":0,"x":526.5,"y":1272,"wires":[["d8b5e1b1.38ade","b00d983.504b868"]]},{"id":"9826898c.87c18","type":"mqtt out","z":"211c7735.5830a","name":"","topic":"/organizations/heatworks/devices/mosfet8/unknown/5Value","qos":"2","retain":"true","broker":"d88144d2.de1c88","x":1107.5,"y":1306,"wires":[]},{"id":"b744aca.215c7d","type":"debug","z":"211c7735.5830a","name":"","active":true,"console":"false","complete":"false","x":522.5,"y":1200,"wires":[]},{"id":"2cc0ab73.964a04","type":"inject","z":"211c7735.5830a","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":355.5,"y":1526,"wires":[["2f5e4a4e.dda75e","ee5bf6c5.fa3f88"]]},{"id":"2f5e4a4e.dda75e","type":"rpi-gpio out","z":"211c7735.5830a","name":"S5","pin":"38","set":true,"level":"0","freq":"","out":"out","x":713.5,"y":1461,"wires":[]},{"id":"46112226.b0a10c","type":"inject","z":"211c7735.5830a","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":353.5,"y":1590,"wires":[["2f5e4a4e.dda75e","ee5bf6c5.fa3f88"]]},{"id":"6b9bdad9.e74f0c","type":"mqtt in","z":"211c7735.5830a","name":"","topic":"/organizations/heatworks/devices/mosfet8/unknown/6Control","qos":"2","broker":"d88144d2.de1c88","x":225,"y":1453,"wires":[["b38d2ef6.df52e8","b6094bd7.edd058"]]},{"id":"e5c556e0.d8a7f","type":"debug","z":"211c7735.5830a","name":"","active":true,"console":"false","complete":"true","x":946.5,"y":1475,"wires":[]},{"id":"ee5bf6c5.fa3f88","type":"function","z":"211c7735.5830a","name":"Create Response","func":"var now = new Date()\nmsg.previousTopic = msg.topic;\nmsg.topic = \"/organizations/heatworks/devices/mosfet8/unknown/6Value\"\nmsg.payload = `${now.getTime() / 1000},${msg.payload}`\nreturn msg;","outputs":1,"noerr":0,"x":750.5,"y":1524,"wires":[["e5c556e0.d8a7f","ec93bfcb.532fe"]]},{"id":"b38d2ef6.df52e8","type":"function","z":"211c7735.5830a","name":"Parse Value","func":"var parts = msg.payload.split(\",\");\nmsg.payload = parseInt(parts[1])\nreturn msg;","outputs":1,"noerr":0,"x":526.5,"y":1489,"wires":[["ee5bf6c5.fa3f88","2f5e4a4e.dda75e"]]},{"id":"ec93bfcb.532fe","type":"mqtt out","z":"211c7735.5830a","name":"","topic":"/organizations/heatworks/devices/mosfet8/unknown/6Value","qos":"2","retain":"true","broker":"d88144d2.de1c88","x":1107.5,"y":1523,"wires":[]},{"id":"b6094bd7.edd058","type":"debug","z":"211c7735.5830a","name":"","active":true,"console":"false","complete":"false","x":522.5,"y":1417,"wires":[]},{"id":"75bbd59c.66a0c4","type":"inject","z":"211c7735.5830a","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":350,"y":1760,"wires":[["fdda7616.48c6e","8b65e189.96d55"]]},{"id":"fdda7616.48c6e","type":"rpi-gpio out","z":"211c7735.5830a","name":"S6","pin":"40","set":true,"level":"0","freq":"","out":"out","x":708,"y":1695,"wires":[]},{"id":"524dfa01.b09ad4","type":"inject","z":"211c7735.5830a","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":348,"y":1824,"wires":[["fdda7616.48c6e","8b65e189.96d55"]]},{"id":"4bbcc76d.0caa88","type":"mqtt in","z":"211c7735.5830a","name":"","topic":"/organizations/heatworks/devices/mosfet8/unknown/7Control","qos":"2","broker":"d88144d2.de1c88","x":219.5,"y":1687,"wires":[["e079a1c0.62016","8e34c7ab.8e9f68"]]},{"id":"89fc6897.9b64d8","type":"debug","z":"211c7735.5830a","name":"","active":true,"console":"false","complete":"true","x":941,"y":1709,"wires":[]},{"id":"8b65e189.96d55","type":"function","z":"211c7735.5830a","name":"Create Response","func":"var now = new Date()\nmsg.previousTopic = msg.topic;\nmsg.topic = \"/organizations/heatworks/devices/mosfet8/unknown/7Value\"\nmsg.payload = `${now.getTime() / 1000},${msg.payload}`\nreturn msg;","outputs":1,"noerr":0,"x":745,"y":1758,"wires":[["89fc6897.9b64d8","fc53c6fb.a945a"]]},{"id":"e079a1c0.62016","type":"function","z":"211c7735.5830a","name":"Parse Value","func":"var parts = msg.payload.split(\",\");\nmsg.payload = parseInt(parts[1])\nreturn msg;","outputs":1,"noerr":0,"x":521,"y":1723,"wires":[["8b65e189.96d55","fdda7616.48c6e"]]},{"id":"8e34c7ab.8e9f68","type":"debug","z":"211c7735.5830a","name":"","active":true,"console":"false","complete":"false","x":517,"y":1651,"wires":[]},{"id":"cdb942d9.6de7","type":"inject","z":"211c7735.5830a","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":350,"y":1977,"wires":[["ec12072e.f450e","98de0cb9.1b659"]]},{"id":"ec12072e.f450e","type":"rpi-gpio out","z":"211c7735.5830a","name":"S7","pin":"35","set":true,"level":"0","freq":"","out":"out","x":708,"y":1912,"wires":[]},{"id":"74992ccf.674654","type":"inject","z":"211c7735.5830a","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":348,"y":2041,"wires":[["ec12072e.f450e","98de0cb9.1b659"]]},{"id":"40e757aa.b4eda","type":"mqtt in","z":"211c7735.5830a","name":"","topic":"/organizations/heatworks/devices/mosfet8/unknown/8Control","qos":"2","broker":"d88144d2.de1c88","x":219.5,"y":1904,"wires":[["2936d633.1144e2","5579054.d4e21fc"]]},{"id":"351f1696.acc29a","type":"debug","z":"211c7735.5830a","name":"","active":true,"console":"false","complete":"true","x":941,"y":1926,"wires":[]},{"id":"98de0cb9.1b659","type":"function","z":"211c7735.5830a","name":"Create Response","func":"var now = new Date()\nmsg.previousTopic = msg.topic;\nmsg.topic = \"/organizations/heatworks/devices/mosfet8/unknown/8Value\"\nmsg.payload = `${now.getTime() / 1000},${msg.payload}`\nreturn msg;","outputs":1,"noerr":0,"x":745,"y":1975,"wires":[["351f1696.acc29a","876fe2f4.d06ce8"]]},{"id":"2936d633.1144e2","type":"function","z":"211c7735.5830a","name":"Parse Value","func":"var parts = msg.payload.split(\",\");\nmsg.payload = parseInt(parts[1])\nreturn msg;","outputs":1,"noerr":0,"x":521,"y":1940,"wires":[["98de0cb9.1b659","ec12072e.f450e"]]},{"id":"5579054.d4e21fc","type":"debug","z":"211c7735.5830a","name":"","active":true,"console":"false","complete":"false","x":517,"y":1868,"wires":[]},{"id":"fc53c6fb.a945a","type":"mqtt out","z":"211c7735.5830a","name":"","topic":"/organizations/heatworks/devices/mosfet8/unknown/7Value","qos":"2","retain":"true","broker":"d88144d2.de1c88","x":1100,"y":1760,"wires":[]},{"id":"876fe2f4.d06ce8","type":"mqtt out","z":"211c7735.5830a","name":"","topic":"/organizations/heatworks/devices/mosfet8/unknown/8Value","qos":"2","retain":"true","broker":"d88144d2.de1c88","x":1100,"y":1980,"wires":[]}]